body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    height: 100vh;
}
.headerimg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin-top: 200px;

}
.headerimg img {
    height: 500px;
    border-radius: 15px;

}

.box {
	display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    flex-direction: row;
}

.box img {
    height:350px;
    width: 350px;
    border-radius: 10px;
}

.imgcorte {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.boxtext {
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 330px;
}

.textbox {
display: flex;
justify-content: center;
align-items: center;
gap: 5px;
}


