body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.box {
	display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    flex-direction: row;
}

.box img {
    height:350px;
    width: 350px;
    border-radius: 10px;
}

.imgcorte {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}


